

*{
    padding: 0;
    margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(229, 226, 226);
    position:sticky;
    top: 0;
    border-bottom: 2px solid grey;
    
   
}

header ul li{
    
color: rgb(28, 2, 65); 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bolder;

    
list-style: none;
    
display: inline-flex;
    
padding: 10px;
}
    
#audio{
    
    font-size: 2vw;
    position: relative;
    display: inline-block;
}
#audio #dropdown{
   display: none;
   position:absolute;
   top: 7px;
   left: 4vw;
   margin-right: 5vh;
   height: auto;
   width: 5vw;
   z-index: 10;
   border-radius: 10px;
   border: 2px solid grey
 
}
#audio:hover #dropdown{
    display: block;
}
#dropdown ul{
    display: inline-flex;
}
    
   
   


.gamecontainer{
   
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.container{
    display: grid;
    /* justify-items: center;
    align-items: center; */
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-size: 8vw;

    
}

  


.box{
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    background-color:lightblue;
}
.gameInfo{
    margin: 0 10vw;
}
 #reset{
   /* background-color: green; */
    /* height: 3vw; */
    /* width: 5vw; */
    font-size: 2vw;
    /* font-family: cursive; */
    border-radius: 10%;
    /* border:; */
    display: flex; 
    justify-content: space-evenly;
 }
 #reset:hover{
    background-color: blueviolet;
 }
 
 

img{
    margin: 5vh 7vw;
    
}

.bt-0{
    border-top:0;
}
.bl-0{
    border-left:0;
}
.bb-0{
    border-bottom:0;
}
.br-0{
    border-right:0;
}
    

footer{
   background-color: grey;
   text-align: center;
   height: 30px;
   position: relative;
   bottom: -40px;
}
   
    

@media  screen and (max-width:820px) {
   .gamecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
   } 
   .gameInfo{
    margin: 20vh 1vw;
    font-size: 4vw;
   }
   .container {
    display: grid;
    grid-template-rows: repeat(3,20vw);
    grid-template-columns: repeat(3,23vw);
    font-size: 15vw;
    color: #08571b;
   }
   #reset{
    background-color: green; 
    height: 10vw;
    width: 21vw;
    font-size: 2vw;
    /* font-family: cursive; */
    border-radius: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 7vw;
   }
   img{
      align-self: center;
      margin:10vh 10vw;
        height:20vh;
   }
   #audio #dropdown {
    display: none;
    position: absolute;
    top: 7px;
    left: 6vw;
    margin-right: 5vh;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid grey;
    height: 6vw;
    width: 17vw;
}
#dropdown ul{
    display: inline-flex;
    font-size: 4vw;
    margin-left: 2vw;
}
}
   
